regresion logistica. clase 1 practica 2 junto con video de youtube https://www.youtube.com/watch?v=SAjIbQBOhw8

In [3]:
import pandas as pd

In [4]:
#una vez que corres todo el dataset te queda esto guardado en variables

In [5]:
# Cargamos el dataset en una estructura DataFrame de Pandas
data = pd.read_excel(r"C:\Users\Santi\OneDrive\Escritorio\Proyectos DTS\Datathon\E-Commerce_train.xlsx")
data.rename(columns={'Reached.on.Time_Y.N': 'Reached_on_time'}, inplace=True)
data.head(5)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached_on_time
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

Elegimos no eliminar features por el moemnto. 
    data.drop(['ID'], axis=1, inplace=True)

Tenemos un ejercicio supervisado y de clasificacion.

In [6]:
#Balanceo de los datos
print(data.shape)
print(data['Reached_on_time'].unique())
print(len(data['Reached_on_time'][data['Reached_on_time']==1]))
print(len(data['Reached_on_time'][data['Reached_on_time']==0]))

(8999, 12)
[1 0]
5719
3280

In [7]:
print(data.shape)
print(data['Warehouse_block'].unique())
print(len(data['Warehouse_block'][data['Warehouse_block']=='A']))
print(len(data['Warehouse_block'][data['Warehouse_block']=='B']))
print(len(data['Warehouse_block'][data['Warehouse_block']=='C']))
print(len(data['Warehouse_block'][data['Warehouse_block']=='D']))
print(len(data['Warehouse_block'][data['Warehouse_block']=='F']))

(8999, 12)
['D' 'F' 'A' 'B' 'C']
1500
1500
1500
1500
2999

In [8]:
data['Warehouse_block'].replace('A',1, inplace=True)
data['Warehouse_block'].replace('B',2, inplace=True)
data['Warehouse_block'].replace('C',3, inplace=True)
data['Warehouse_block'].replace('D',4, inplace=True)
data['Warehouse_block'].replace('F',5, inplace=True)

In [9]:
print(data.shape)
print(data['Mode_of_Shipment'].unique())
print(len(data['Mode_of_Shipment'][data['Mode_of_Shipment']=='Flight']))
print(len(data['Mode_of_Shipment'][data['Mode_of_Shipment']=='Ship']))
print(len(data['Mode_of_Shipment'][data['Mode_of_Shipment']=='Road']))

(8999, 12)
['Flight' 'Ship' 'Road']
1447
6122
1430

In [10]:
data['Mode_of_Shipment'].replace('Flight',1, inplace=True)
data['Mode_of_Shipment'].replace('Ship',2, inplace=True)
data['Mode_of_Shipment'].replace('Road',3, inplace=True)

In [11]:
print(data.shape)
print(data['Product_importance'].unique())
print(len(data['Product_importance'][data['Product_importance']=='low']))
print(len(data['Product_importance'][data['Product_importance']=='medium']))
print(len(data['Product_importance'][data['Product_importance']=='high']))

(8999, 12)
['low' 'medium' 'high']
4308
3858
833

In [12]:
data['Product_importance'].replace('low',1, inplace=True)
data['Product_importance'].replace('medium',2, inplace=True)
data['Product_importance'].replace('high',3, inplace=True)

In [13]:
print(data.shape)
print(data['Gender'].unique())
print(len(data['Gender'][data['Gender']=='F']))
print(len(data['Gender'][data['Gender']=='M']))

(8999, 12)
['F' 'M']
4540
4459

In [14]:
data['Gender'].replace('F',1, inplace=True)
data['Gender'].replace('M',2, inplace=True)

Exploracion de los datos

In [15]:
#Metodo para filtrar el dataset
data2 = data[data['Gender'] == 1]
data3 = data[data['Gender'] == 2]

Tome todos los valores de X para el entrenamiento. Posiblemnete tengamos que sacar algunos features

In [16]:
X = data.iloc[:,1:-1].values
y = data.iloc[:, 11].values
X.shape

(8999, 10)